{% extends "auctions/layout.html" %}

{% block body %}
    {% if items %}
        <h2 class="display-4">Items in {{ category }} Category</h2>
        <hr>

        <div id="items_section">
            {% for row in items %}
                <div class="row items_row">
                    {% for item in row %}
                        <div class="col-sm-4 h-100 item-container">
                            <div class="item h-100">
                                <h3><a href="{% url 'show' item.pk %}">{{ item.title }}</a></h3>
                                {% if item.bids.last.price %}
                                    <h5>Current Price: {{ item.bids.last.price }}</h5>
                                {% else %}
                                    <h5>Current Price: {{ item.start_price }}</h5>
                                {% endif %}
                                <h6>User: {{ item.user.username }}</h6>
                                {% if item.image %}
                                    <img src= {{ item.image }} class="item-image mx-auto d-block rounded">
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

    {% endif %}
    {% if error %}
        <h2>Oops, something went wrong !</h2>
        <p>{{ error }}</p>
    {% endif %}
{% endblock %}