{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <ul>
        {% for item in items %}
        <li>
            <h3>{{ item.title }}</h3>
            <h5>Current Price: {{ item.bids.last.price }}</h5>
            <h6>Started At: {{ item.start_price }}</h6>
            <h6>Category: {{ item.get_category_display }}</h6>
            {% if item.image %}
                <img src= {{ item.image }} class="item-image" width="10%" height="16%">
            {% endif %}
            <p>{{ item.description }}</p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}